main {
  background-image: url(images/bg.png);
  background-size: 100%; /*   calc(100%) ,  cover  */

  padding-top: 222px;

  text-align: center;
}

.navbar-brand {
  padding-left: 50px;
  font-size: larger;
  font-weight: 800;
}
.nav-link {
  color: #f4ecec;
}
.navbar-nav {
  padding-left: 730px;
}

.head {
  margin-top: -20px;
  height: 777px;
}

h2 {
  margin-bottom: 25px;
  font-family: "ABeeZee", sans-serif;
  color: #fefbfb;
  font-size: 40px;
}
h1 {
  font-family: "ABeeZee", sans-serif;
  color: #eae9e9;
  font-size: 99px;
  margin-bottom: 60px;
}

h3 {
  font-family: "Overpass", sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #f1eded;

  line-height: 20px;

  padding-bottom: 70px;
}
p {
  font-family: "ABeeZee", sans-serif;
  color: #eae9e9;
}

button {
  padding: 18px 66px;
  border: 0px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
}

.foto {
  padding-top: 80px;
  background-color: rgb(28, 28, 28);
  height: 1388px;
}

img {
  margin: 10px;
}

.f1 {
  margin-right: 3pc;
}

.f4 {
  margin-left: 3pc;
}

footer {
  background-color: rgb(35, 28, 28);
  height: 144px;
  color: #f3efef;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 53px 16px;
}
.icon {
  font-size: smaller;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  height: 42px;
}

p {
  font-size: 20px;
  padding-top: 10px;
}

/* ------------------------------------------------------------ */

@media (max-width: 600px) {
  .navbar-brand {
    font-size: smaller;
    padding-left: 10px;
    color: #f8f0f0;
    font-weight: 700;
  }
  .navbar-nav {
    padding-left: 470px;
  }
  .nav-link {
    color: #615c5c;

    font-size: smaller;
  }

 
  .head {
    margin-top: -210px;
    height: 469px;
  }

  h2 {
    margin-bottom: 125px;
    font-family: "ABeeZee", sans-serif;
    color: #fefbfb;
    font-size: 20px;
  }
  h1 {
    margin-bottom: 66px;
    font-family: "ABeeZee", sans-serif;
    color: #eae9e9;

    font-size: 59px;
  }
  h3 {
    font-family: "Overpass", sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #f1eded;

    margin-top: 20ex;

    line-height: 20px;

    padding-bottom: 40px;
  }
  button {
    padding: 18px 66px;
    border: 0px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
  }

  .foto {
    padding-top: 80px;
    background-color: rgb(28, 28, 28);
    height: 4488px;
  }

  img {
    width: 77%;
  }

  .f1 {
    margin-right: 0pc;
  }

  .f4 {
    margin-left: 0pc;
  }
  footer {
    height: 84px;
    background-color: #38322f;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 3px 16px;
  }
  .logo {
    width: 23%;
    margin-right: 4px;
    height: 21px;
  }
  .icon {
    display: flex;
    justify-content: space-around;
    height: 37px;
    width: 20%;
    font-size: 11px;
    padding-left: 0px;
    margin-left: 24px;
    margin-right: 24px;
  }

  p {
    font-size: 12px;
  }
}
